<header class="head">

  <img class="imglogo" alt="logo" src="/resources/img/logo.png" >
  <h1 class="floatright">SWAP A GADGET</h1><br><br>
  <p class="floatright"  ><i>A platform to swap your gadgets..</i></p>
  <br><br><br><br><br>
  <p id="user" class="floatright">Not Signed In</p><br>

</header>
