<nav class="menu">
  <ul class="mainmenu">

    <li><a href="index"> HOME</a></li>
    <li><a href="categories"> CATEGORIES</a></li>

    <li><a href="about"> ABOUT US</a></li>
    <li><a href="contact"> CONTACT US</a></li>

  </ul>
</nav>
