
<nav>
  <ul class="topnav">

    <li><a href="#">Sign In </a>|</li>
    <li><a href="myItems">My Gadgets </a>|</li>
    <li><a href="mySwaps">My Swaps </a>|</li>
    <li><a href="#">Cart</a></li>

  </ul>
</nav>
