<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Swap A Gadget</title>
  <link rel="stylesheet" type="text/css" href="../resources/style.css">

  <!--[if lt IE 9]>
  <script>
  document.createElement("article");
  document.createElement("aside");
  document.createElement("footer");
  document.createElement("header");
  document.createElement("main");
  document.createElement("nav");
  document.createElement("section");
</script>
<![endif]-->
</head>
<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>

  <main>

    <ul class="breadcrumb">
      <li><a href="index">Home</a>&gt;</li>
      <li><a href="about">About</a></li>

    </ul>
    <section class="homesection">
      <h3>	Welcome to Swap A Gadget!</h3>
      <article>
        <header>
          <h3>A trusted market</h3>
          <p><i>Serving this Nation from 2005..</i><p>

            <br>
          </header>

          <p class="description"></p>

          <p  class="description">

            We are well-known in the market for the ease and comfort we provide to our customers.
            They can save money by not buying a new product which they do not wish to buy and only need for temporary basis.
            The electronics and other gadgets can are used in our day to day life. The tool not required by one could be a necessity of another.
            This is a great platform to swap your gadgets on temporary basis by choosing from the a large available tools.


          </article>


        </section>

      </main>

      <aside class="sidepanel">
        <% include partials/site-navigation.ejs %>
      </aside>

      <% include partials/footer.ejs %>

    </body>
    </html>
