<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Swap A Gadget</title>
  <link rel="stylesheet" type="text/css" href="../resources/style.css">

  <!--[if lt IE 9]>
  <script>
  document.createElement("article");
  document.createElement("aside");
  document.createElement("footer");
  document.createElement("header");
  document.createElement("main");
  document.createElement("nav");
  document.createElement("section");
</script>
<![endif]-->
</head>
<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>

  <main>

    <ul class="breadcrumb">
      <li><a href="index">Home</a></li>

    </ul>
    <section class="homesection">
      <h3>	Welcome to Swap A Gadget!</h3>
      <article>
        <header>
          <h3>A trusted market</h3>
          <p><i>Serving this Nation from 2005..</i><p>

            <br>
          </header>
          <img class="homecover" alt="Cover Photo" src="resources/img/2.jpeg">
          <p class="description"></p>

          <p  class="description">

            We provide a platform to search, swap and give away their gadgets.
            We serve all sorts of gadgets, be it computer, mobile, mechanical, travel, home gadgets etc.</p>
            <p><b>Do not miss out to check out to our latest collection...</b></p>

          </article>


        </section>

      </main>

      <aside class="sidepanel">
        <% include partials/site-navigation.ejs %>
      </aside>

      <% include partials/footer.ejs %>

    </body>
    </html>
